* {
    margin:0;
    padding:0;
    border:0;
    background:transparent;
    outline:none;
    text-decoration:none;
    outline:none;
    font-family:inherit;
    box-sizing:border-box;
  }

ol, ul, li {
  list-style:none;
  display:block;
}


body {
    background-color:lavenderblush;
    font-family: 'Rubik', sans-serif;
}


#form {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 430px;
    margin: auto;
    margin-top: 10%;
    padding: 30px;
    padding-left: 70px;
    border-radius: 20px;
    
    background-color: crimson;
    
}

h1 {
    position: relative;
    margin-bottom: 20px;


    color: cornsilk;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: cornsilk;
}

input[type="text"],
input[type="email"],
input[type="file"] {
    display: block;
} 

::-webkit-file-upload-button {
    background-color: cornsilk;
    height: 30px;
  }

select {
    background-color: cornsilk;
}

button {

    font-size: 20px;
    width: 50px;
    height: 30px;
    border-radius: 20px;
    margin-left: 120px;
    margin-top: 30px;

    background-color: cornsilk;
}